* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding: 24px;
    gap: 24px;
    background-color: cornsilk;
    text-align: center;
}

button {
    font-size: 24px;
    padding: 12px;
    text-align: center;
    background-color:burlywood;
}

input {
    font-size: 24px;
    padding: 12px;
    text-align: center;
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 12px solid;
}

.table_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: align items in the center */
}

img {
    max-width: 900px; /* Ensure images fit the container width */
    height: auto; /* Maintain aspect ratio */
}
.mangas {
    display: flex;
    flex-direction: column;
}