<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
</head>
<body>
    <h1>Search Results</h1>

    <table>
        <tr>
            <th>Rank</th>
            <th>Title</th>
        </tr>
        {% for manga in MangaList %}
        <tr>
            <td>{{ manga["rank"] }}</td>
            <td>{{ manga["title"] }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="button_container">
        <form action="/trending">
            <button type="submit">Trending Manga</button>
        </form>
        <form action="/featured">
            <button type="submit">Featured Manga</button>
        </form>
    </div>
    <div class="search">
        <form action="/search">
            <input type="text" name="query" placeholder="Search Manga">
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>