<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Manga</title>
</head>
<body>
    <h1>Select Manga</h1>
    <div class="mangas">
        <form action="/">
            <button type="submit">Home</button>
        </form>
        <h3>Manganato (Stable)</h3>
        <table>
            <tr>
                <th>Manga</th>
            </tr>
            {% for manga, manga_id in mangas_manganato.items() %}
                <tr>
                    <td><a href="/select_chapter_manganato?id={{ manga_id }}">{{ manga }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>